---
import PageLayout from "@/layouts/Base.astro";
import { publicationsTech } from "@/data/publications";
import { awardsTech } from "@/data/awards";
import { postersTech } from "@/data/posters";
import { talksTech } from "@/data/talks";


const meta = {
	description: "Aaron Jarmusch's personal website.",
	title: "10 Seconds of Fame",
};

---

<PageLayout meta={meta}>
	<div class="space-y-6">
		<h1 class="title">10 Seconds of Fame</h1>
		<p>
			trying to learn more about my past... stalker&nbsp;😁&nbsp;
		</p>
		<h2 class="mb-4 text-xl">Publications:</h1>
		<dl class="space-y-4">
			{
				publicationsTech.map(({ desc, href, title }) => (
					<div class="flex flex-col gap-2 sm:flex-row">
						<dt>
							<span class="flex">
								<a class="cactus-link" href={href} rel="" target="_blank">
									{title}
								</a>
								: {desc}
							</span>
						</dt>
					</div>
				))
			}
		</dl>
		<h2 class="mb-4 text-xl">Awards:</h1>
		<dl class="space-y-4">
			{
				awardsTech.map(({ desc, href, title }) => (
					<div class="flex flex-col gap-2 sm:w-full">
						<dt>
							<span class="">
								<a class="cactus-link" href={href} rel="" target="_blank">
									{title} 
								</a>
								: {desc}
							</span>
						</dt>
					</div>
				))
			}
		</dl>
		<h2 class="mb-4 text-xl">Posters:</h1>
		<dl class="space-y-4">
			{
				postersTech.map(({ desc, href, title }) => (
					<div class="flex flex-col gap-2 sm:w-full">
						<dt>
							<span class="">
								<a class="cactus-link" href={href} rel="" target="_blank">
									{title}
								</a>
								: {desc}
							</span>
						</dt>
					</div>
				))
			}
		</dl>
		<h2 class="mb-4 text-xl">Talks:</h1>
		<dl class="space-y-4">
			{
				talksTech.map(({ desc, href, title }) => (
					<div class="flex flex-col gap-2 sm:w-full">
						<dt>
							<span class="">
								<a class="cactus-link" href={href} rel="" target="_blank">
									{title}
								</a>
								: {desc}
							</span>
						</dt>
					</div>
				))
			}
		</dl>
	</div>
</PageLayout>
